.block-2 {
    background-color: #E23016;
    padding-top: 25px;
    padding-bottom: 20px;
}

.text-block-2 {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

/* преподаватели */

.list-cart {
    background-color: #EBEBEB;
    padding: 30px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 25px;
}

.recl-block {
    background-color: #E23016;
    border-radius: 25px;
}