.block-2 {
    background-color: #E23016;
    padding-top: 25px;
    padding-bottom: 20px;
}

.text-block-2 {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}